* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    
}

h3 {
    color: #2c9701;
}

h1, h2 {
    text-align: center;
    color: #046f02;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 7px;
}

ul, p {
    color:#000;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    height: 100vh;
    padding: 1rem;
}

header {
    grid-area: header;
    color: #3b3b3b;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.sidebar {
    grid-area: sidebar;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 0; 
    height: fit-content;
}

.contact ul, .skills ul, .education ul, .languages ul {
    list-style: none;
    padding-left: 0;
}

.contact, .skills, .education, .languages {
    padding: 1rem;
    border-radius: 8px;
}

.content {
    grid-area: content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto; 
    max-height: calc(100vh - 2 * 1rem);
    text-align: justify;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-item a {
    color: #626262;
}

.profile p {
    font-size: 1.2em;
}

header, footer, .profile, .experience, .contact, .skills, .education, .languages {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.job {
    margin-bottom: 1rem;
}

.company-name, .job-position {
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    grid-area: footer;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "header"
            "sidebar"
            "content";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
    }

    .sidebar {
        display: flex;
    }

    .content {
        padding: 1rem;
        overflow-y: visible;
        height: auto;
    }

    footer ul {
        flex-direction: column;
    }

    .interests {
        display: none;
    }

    footer {
        display: none;
    }
}
